body {
    font-family: 'Roboto Condensed', sans-serif  !important;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .05rem;
    background-color: rgb(0, 0, 0) !important;
}

h1 { font-size: 66px; font-weight: 600; line-height:80px;}
h2 { font-size: 66px; font-weight: 600; line-height:80px;}



p { font-size: 22px  !important; 
    color: #ffffff;
    line-height:1.8rem ;
}

section { padding: 70px 0; }

.topmargin-xs{ margin-top: 15px;}
.topmargin-sm{margin-top: 30px;}
.topmargin-lg{margin-top: 60px;}

.btn{ 
    font-size: 14px ;
    padding: 15px 26 px;
    min-width: 160px;
    border-radius: 1px;
    display: inline-block;
}
.btn-light{ 
background-color: #ffffff;
color: #00000011;
border:1px solid #ffffff ;
}

.btn i { font-size: 14px; margin-left:  5px;}


.navbar{
    background-color: rgb(0, 0, 0);
    box-shadow: 0 2px 4px 0 rgb(0, 0, 0, .05);
    min-height: 100px;
} 
.nav-link{ color: rgb(255, 255, 255);
} 
.nav-link:hover{ color: yellow;
} 
.logo-brand{ 
    min-width: 160px;
    max-width: 180px;
} 

.navbar-toggler{ 
    font-size: 60px;
} 
.navbar-toggler:focus{ outline: none;
} 


#slider {
    padding: 5rem 0 0 0;
}

#medio{ 
        background-image: url(../img/vendedor\ auto\ copia.jpg);
        background-size: cover;
        padding-top: 250px;
        min-height: 700px;
        color: gray;
} 
#medio p {
    color: white;
}
#medio h1 {
    color: white;
}
.content-center{
    max-width: 800px;
    margin: 0 auto 0px auto;
    text-align: center;
}
#arriba{
    margin: 0 auto 0px auto;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #000000;
    font-weight: 400;
}

.arriba-container{
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 2px;
}


.arriba-container img {
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

.arriba-container:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}


.arriba-details {
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 9000;
}

.arriba-details h2 {
    margin-bottom: 0px;
}


.arriba-details a h2, .arriba-details a p {
    color: white;
}


#novedades{
    margin: 0px 1px 0px 1px;
    color: rgb(255, 255, 255);
    background-color: rgb(228, 228, 228);
}

#novedades h2 {
    color: rgb(0, 0, 0);
    text-align: center;
}
#novedades p {
    color: rgb(0, 0, 0);
    text-align: center;
}





.texto-container {
    position: relative;
    margin: 10px 0;
}

.texto-details {
    position: absolute;
    color: var(--white-color);
    bottom: 0;
    left: 20px;
}
.texto-details h5 {
    font-size:1.40rem ;  
    color: white;
    text-align: center;
}

.texto-details span {
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    margin: 0px 8px 0px 8px;
}

#contactos {
    margin: 0px 1px 0px 1px;
    background-color: rgb(228, 228, 228);
    color: #000000;
}
.texto-contacto p{
   color: black;
}

.form-control {
    font-size: 14px;
    border: 1px solid #cacaca;
    padding: 15px;
    border-radius: 2px;
}

.form-control:focus {
    border: 1px solid var;
    outline: none;
    box-shadow: none;
}

.btn-primary {
    color: #fff !important;
    background-color: #000000 !important;
    border-color: #000000 !important;
}

footer {
    padding: 80px 0;
    text-align: center;
    color: black;
}

footer a {
    color: white;
}

footer a:hover {
    color: black
}

footer .list-inline .list-inline-item {
    padding: 10px 15px;
}


@media (max-width: 575.98px) {  
    h1 font-size: 40px; line-height: normal;}
    #slider h3 {font-size: 2rem;} 
    .footer {text-align: center;}
    .arriba-details{ font-size: 28px;}
    .carousel-caption 

@media (min-width: 576px) and (max-width: 767.98px) { }

@media (min-width: 768px) and (max-width: 991.98px) { }

@media (min-width: 992px) and (max-width: 1199.98px) { }

@media (min-width: 1200px) {  }

 